.animation {
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
}

.animation img {
    width: 100%;
}

.anim-nocontrols .anim-controls {
    display: none;
}

.anim-nobuttons .anim-buttons {
    display: none;
}

.anim-show-state .anim-state {
    display: inline-block;
}

.anim-state {
    display: none;
}